<%- include ('./partials/header') %>


<div class="container">
        <h1> Hello Welcome </h1>
        <p> Welcome to the address form</p>
        <p>
            <a href="/new">Add a new Address</a>
        </p>
        <p>
            <a href="/address">See Your Address</a>
        </p>
</div>
<%- include ('./partials/footer') %>
